#app {
  --glow-pink: rgb(255, 20, 130);
  --black-900: rgb(17 24 39);
  --black-800: rgb(31 41 55);
  --black-700: rgb(55 65 81);
  --black-600: rgb(75 85 99);
  --black-500: rgb(107 114 128);
  --black-400: #9e9e9e;
  --black-300: #b1b1b1;
  --black-200: #cfcfcf;
  --black-100: #e1e1e1;
  --black-0: #fff;
}

@font-face {
  font-family: "Haffer";
  src: url("./assets/fonts/Haffer-Regular.otf") format("opentype");
  font-style: normal;
  font-weight: 300;
}

.headline {
  font-size: 1.5rem;
  color: white;
}

input {
  all:unset;
  background: var(--black-800);
  color: white;
  padding: 13px;
  border-radius: 3px;
  font-size: 18px;
  letter-spacing: 0.3px;
  outline: 1px solid transparent;
  transition: outline 300ms;
}

input:focus {
  outline: 1px solid var(--glow-pink);
box-shadow: rgba(255, 20, 130, 0.05) 0px 13px 27px -5px, rgba(255,20,130, 0.1) 0px 8px 16px -8px;
}


select {
  /* all:unset; */
    background: var(--black-800);
      color: white;
        padding: 13px;
          border-radius: 3px;
          border: none;
}

/* tailwind classes */
.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.w-full {
width: 100%;
}
